{% extends 'base.html' %}

{% block content %}
<main>
	<div class="top">
<h3 class="text-center">Личный кабинет пользователя {{ request.user }}</h3>
<hr>
<h4 class='text-center'>Ваши заказы</h4>
<table class='table'>
<tr style='background:lightblue;'>
	<td class='text-center'>Номер заказа</td>
	<td class='text-center'>Дата заказа</td>
	<td class='text-center'>Статус заказа</td>
	<td class='text-center'>Стоимость заказа</td>
	<td class='text-center'>Детали заказа</td>
</tr>

{% for item in order %}
<tr>
	<td class='text-center'>{{ item.id }}</td>
	<td class='text-center'>{{ item.date }}</td>
	<td class='text-center'>{{ item.status }}</td>
	<td class='text-center'>{{ item.total }} руб.</td>
	<td class='text-center'><button type="button" class="btn btn-outline-info waves-effect" data-toggle="modal" data-target="#exampleModal-{{ item.id }}">
  Детали
</button></td>
</tr>
{% endfor %}
</table>
		</div>
<!-- Button trigger modal -->

<!-- Modal -->
<!--{% for item in order %}-->
<!--<div class="modal" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">Заказ № {{ item.id }}</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
      <!--<h3>Товар</h3>-->
        <!--<table class='table'>-->
        	<!--{% for order_item in item.items.items.all %}-->
	        	<!--<tr>-->
	       			<!--<td>{{ order_item.product.name }}</td>-->
	       			<!--<td>{{ order_item.qty }} шт.</td>-->
	       			<!--<td>{{ order_item.item_total }} руб.</td>-->
	        	<!--</tr>-->
        	<!--{% endfor %}-->
        		 <!--<tr>-->
	        		<!--<td></td>-->
					 <!--<td><strong>Итого</strong></td>-->
	        		<!--<td><strong>{{ item.items.cart_total }} BYN</strong></td>-->
	        	<!--</tr>-->
        <!--</table>-->
   		<!--<h3>Заказчик</h3>-->
   		 <!--<p>Имя: {{ item.first_name }}</p>-->
   		 <!--<p>Фамилия: {{ item.last_name }}</p>-->
   		 <!--<p>Телефон: {{ item.phone }}</p>-->
   		 <!--<h3>Тип доставки</h3>-->
   		 <!--<p>{% if item.buying_type == 'self' %} Самовывоз {% else %}Доставка курьером{% endif %}</p>-->
   		 <!--<p>{% if item.buying_type == 'delivery' %} {{ item.address }}{% endif %}</p>-->
   		 <!--<h3>Комментарии к заказу</h3>-->
   		 <!--<p>{{ item.comments }}</p>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
		 <!--<p><a href='#' class='repeat_order' data-id='{{ item.id }}'><button class='btn btn-danger'>Повторить заказ</button></a></p>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--{% endfor %}-->

<!-- Button trigger modal -->


<!-- Modal -->
{% for item in order %}
<div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <h3>Товар</h3>
        <table class='table'>
        	{% for order_item in item.items.items.all %}
	        	<tr>
	       			<td>{{ order_item.product.name }}</td>
	       			<td>{{ order_item.qty }} шт.</td>
	       			<td>{{ order_item.item_total }} руб.</td>
	        	</tr>
        	{% endfor %}
        		 <tr>
	        		<td></td>
					 <td><strong>Итого</strong></td>
	        		<td><strong>{{ item.items.cart_total }} BYN</strong></td>
	        	</tr>
        </table>
   		<h3>Заказчик</h3>
   		 <p>Имя: {{ item.first_name }}</p>
   		 <p>Фамилия: {{ item.last_name }}</p>
   		 <p>Телефон: {{ item.phone }}</p>
   		 <h3>Тип доставки</h3>
   		 <p>{% if item.buying_type == 'self' %} Самовывоз {% else %}Доставка курьером{% endif %}</p>
   		 <p>{% if item.buying_type == 'delivery' %} {{ item.address }}{% endif %}</p>
   		 <h3>Комментарии к заказу</h3>
   		 <p>{{ item.comments }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
		</center>
<script>

$(document).ready(function(){
    $('.repeat_order').on('click', function(e){
        e.preventDefault()
        item_id = $(this).attr('data-id')
        data = {
            item_id: item_id
        }
     })
})
</script>
</main>
{% endblock %}