{% extends 'base.html' %}

{% block content %}
<div class="col-sm-4">
    {% for image_item in product.productimage.image_set.all %}
        <img src="{{image_item.image.url}}" class="image-responsive">
    {% endfor %}
</div>
<div class="col-sm-8">
    <h3 class="text-center">{{ product.name}}</h3>
    <p> {% lorem %} </p>
    <p> {% lorem %} </p>
<hr>
    <p>Price : <strong>{{ product.price }}</strong></p>
    <a href="#"><button class="btn btn-danger"><strong>Add to cart</strong></button></a>
</div>
{% endblock %}
