{% extends 'base.html' %}

{% block content %}
<div class="col-sm-8">
    {% for item_image in product_images %}
        <img src="{{ item_image.image.url }}" class="image-responsive" style='width:100%; height:100%;'>
    {% endfor %}
</div>
<div class="col-sm-4">
    <h3 class="text-center">{{ product.name }}</h3>
    <p> {% lorem %} </p>
    <p> {% lorem %} </p>
{% if product.price_is_active == True %}
    <hr>
    <p>Price : <strong>{{ product.price }}</strong></p>
    <a href="#"><button class="btn btn-danger"><strong>Add to cart</strong></button></a>
{% endif %}
</div>
{% endblock %}
